<!DOCTYPE html>
<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

<script src="/nowjs/now.js"></script>
<script>
window.now = nowInitialize('http://51.fi:8082'); 
  now.ready(function() {
    console.log('Now is ready');
  });
</script>
<meta charset=utf-8 />

<!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
</style>
</head>
<body>

<h1><%=question.question%></h1>

<ul>
<% for(var i=0;i<options.length; i++) { %>
  <li>Option <%=options[i].value%></li>
<% } %>
</ul>


</body>
</html>